<main>
  <section class="pride-history-timeline-text">
    <h1>Proud of Our History</h1>
    <p>
      NC Pride has held 26 pride celebrations to date. Click on any of the years listed in the table below for photos, logos, or articles from past years of Pride, starting with 1981. There's lots of good stuff here, so look around.

      Please help us preserve our history. We only have one or two photos for the some years listed. Look through your old photos and send them in for display. We need any contributions of information or photos from previous years.
    </p>
  </section> <!-- .end of pride-history-timeline-text -->

  <ul class="pride-history-timeline">
    <li>
      <div class="">
        <h2>1981</h2>
        <h3>Durham</h3>
        <p>Our Day Out</p>
      </div>

      <div class="">
        <h2>1986</h2>
        <h3>Durham</h3>
        <p>Out Today and Out to Stay</p>
      </div>

      <div>
        <h2>1987</h2>
        <h3>Durham</h3>
        <p>Coming Out as a Community</p>
      </div>

      <div class="">
        <h2>1988</h2>
        <h3>Raleigh</h3>
        <p>Diverse and United for Equality: Lesbian and Gay Rights Now</p>
      </div>

      <div class="">
        <h2>1989</h2>
        <h3>Raleigh</h3>
        <p>Stonewall to Raleigh: 20 Years of Pride Struggle and Liberation</p>
      </div>

      <div class="">
        <h2>1990</h2>
        <h3>Carrboro</h3>
        <p>Marching into the Gay 90s</p>
      </div>

      <div class="">
        <h2>1991</h2>
        <h3>Durham</h3>
        <p>Speaking for Ourselves</p>
      </div>

      <div class="">
        <h2>1992</h2>
        <h3>Asheville</h3>
        <p>Pride = Power</p>
      </div>

      <div class="">
        <h2>1993</h2>
        <h3>Raleigh</h3>
        <p>The American Dream Belongs to Everyone</p>
      </div>

      <div class="">
        <h2>1994</h2>
        <h3>Charlotte</h3>
        <p>Invisibility to Equality: Never Turning Back</p>
      </div>

      <div class="">
        <h2>1995</h2>
        <h3>Durham</h3>
        <p>To Be Rather Than to Seem</p>
      </div>


      <div class="">
        <h2>1996</h2>
        <h3>Winston-Salem</h3>
        <p>Celebrate, Activate, Educate</p>
      </div>


      <div class="">
        <h2>1997</h2>
        <h3>Carrboro</h3>
        <p>Commitment, Community, Courage, Compassion</p>
      </div>

      <div class="">
        <h2>1998</h2>
        <h3>Asheville</h3>
        <p>
          Be You, Don't Let Life be an Afterthought, Speak your truth, climb all mountains, soar higher, there are no limits. Live! Live! Live! (from the Pride Guide cover)</p>
        </div>

        <div class="">
          <h2>1999</h2>
          <h3>Greensboro</h3>
          <p>Celebrating North Carolina's End of the Century</p>
        </div>

        <div class="">
          <h2>2000</h2>
          <h3>Durham</h3>
          <p>It's Time! Come Out for Pride</p>
        </div>

        <div class="">
          <h2>2001</h2>
          <h3>Durham & Raleigh</h3>
          <p>Embrace Diversity</p>
        </div>

        <div class="">
          <h2>2002</h2>
          <h3>Durham & Raleigh</h3>
          <p>Pride Worldwide</p>
        </div>
        <div class="">
          <h2>2003</h2>
          <h3>Durham & Raleigh</h3>
          <p>United in Pride</p>
        </div>
        <div class="">
          <h2>2004</h2>
          <h3>Durham & Raleigh</h3>
          <p>20 Years of Pride</p>
        </div>
        <div class="">
          <h2>2005</h2>
          <h3>Durham & Raleigh</h3>
          <p>Equal Rights - No More, No Less</p>
        </div>
        <div class="">
          <h2>2006</h2>
          <h3>Durham & Raleigh</h3>
          <p>Pride - Not Prejudice</p>
        </div>
        <div class="">
          <h2>2007</h2>
          <h3>Durham & Raleigh</h3>
          <p>United for Equality</p>
        </div>
        <div class="">
          <h2>2008</h2>
          <h3>Durham & Raleigh</h3>
          <p>Live, Love, Be</p>
        </div>
        <div class="">
          <h2>2009</h2>
          <h3>Durham & Raleigh</h3>
          <p>25th Anniversary</p>
        </div>
        <div class="">
          <h2>2010</h2>
          <h3>Durham & Raleigh</h3>
          <p>One Heart, One World, One Pride</p>
        </div>
      </li>
    </ul> <!-- .pride-history-timeline -->
  </main>
