<main class="container">
  <div class="jumbotron">
    <div class="row">
      <!-- about page thumbnail -->
      <div class="third-row about-page col-1-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>About NC Pride</h3>
            <p>This site contains information on North Carolina's annual Gay, Lesbian, Bisexual, and Transgendered Pride Parade and festival, and a directory of participating organizations in North Carolina.</p>
            <p><a href="#" class="btn btn-primary" role="button">Learn More</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div> <!-- end of about page thumbnail -->


      <div class="third-row registeration-page col-1-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Register</h3>
            <p>Please join us for our annual fun and fab 5k run at 8:30am the morning of NC Pride on Duke University East Campus Lawn (corner of West Main St. and Campus Drive,Durham). Wacky and rainbow outfits are most welcome. It is a run and walk open to all.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Register</a></p>
          </div>
        </div>
      </div> <!-- end of about registeration thumbnail -->

      <div class="third-row timeline col-1-3">
        <div class="thumbnail">
          <img src="..." alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Click for Schedule of events. Updated as events are announced, so check back often.</p>

          </div>
        </div>
      </div> <!-- end of about page thumbnail -->
    </div> <!-- end of row -->
  </div>
</main>
